.Profile-Name{
    font-size: 40px;
    text-align:center;
}
.Info{
    border: 2px black solid;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.Link{
    text-align: center;
}
#Each-Link{
    margin-right: 20px;
}